.mobileimg{
    width: 200px;
}
.addbtn{
    border: 1px solid rgba(0, 0, 0, 0.342);
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-left: 50px;
    transition: .5s;
    outline: none;
}
.addbtn:hover{
   background-color: rgb(0, 225, 255);
   box-shadow: 1px 1px 10px black;
   outline: none;
}
.shopimg{
    width: 50px;
    position: absolute;
    top: 50%;
    right: 20%;
}
.count{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}